.env
.env.local
.env.development
.env.test
.env.production
.env.staging
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
.env.development.local.js
.env.test.local.js
.env.production.local.js
.env.staging.local.js
.env.development.local.ts
.env.test.local.ts
.env.production.local.ts
.env.staging.local.ts

node_modules

ultimate-react-course